
body {
  margin: 0;
  padding: 0;
  font-family: "Amatic SC", sans-serif;
  font-size: 20px;
  text-align: center;
  background-color: black;
}
canvas {
  
  display: block;
  
}
div {
  display: block;
}


.it {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  
  outline: none;
  text-align: center;
  line-height: 1;
}

.startingPage {
  position: absolute;
  
  background-repeat: no-repeat;
  background-image: url("/JonJonesGame/images/jonJones.png");
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: relative;
  background-position: 50%;
  height: 100vh;
  width: 100%;
  background-color: #000;
  color: white;
  text-decoration: double;
  font-style: oblique;
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.startButton {
  font-size: 40px;
  position: absolute;
  font-weight: bold;
  width: 300px;
  top: 70%;
  padding: 20px;
  border-radius: 20%;
  border-width: thick;
  border-style: groove;
  border-color: yellow;
  background-color: red;
  
}



#it {
  display: flex;
  justify-content:right;
  flex-direction: column;
  align-items: right;
  margin-right: 80%;
  padding-top: 2%;
  

  
}
#time {
  
  color: white;
  padding-left: 50px;
}
#collect {
  color: white;
}
#level {
  color: white;
  padding-left: 50%;
}
.icons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-content: space-between;
  align-items:normal;
  
  
  
  padding-right: 20%;
  margin-right: 100%;
  
}
p {
  padding: 5px;
  color: white;
  margin: 5px;
  background: inherit;
  
}
ul {
  color: white;
}
.instructions {
  position: absolute;
  top: 5%;
  left: 65%;
  background-color: inherit;
}
.game-intro {
  font-size: 20px;
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
  height: 200px;
  
  position: absolute;
  top: 3%;
  left: 3%;

}
.game-intro p {
  color: white;
  height: 700px;
  width: 300px;
  
  text-align: left;
}
